<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>{{ title }}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="nav">
        <button mat-button routerLink="/heroes">
            <mat-icon>face</mat-icon> Heroes</button>
        <button mat-button routerLink="/dashboard">
            <mat-icon>assignment</mat-icon> Dashboard</button>
    </mat-toolbar-row>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
    <mat-divider></mat-divider>
    <app-messages></app-messages>
</main>