<h2>All heroes</h2>

<p>
    Do you want to
    <button mat-button routerLink="/hero/register">add</button> one?
</p>

<mat-form-field color="accent">
    <input matInput [(ngModel)]="heroNameFilter" placeholder="Filter by hero name">
</mat-form-field>

<mat-grid-list cols="4" rowHeight="5rem">
    <ng-container *ngFor="let hero of heroes">
        <ng-template [ngIf]="!heroNameFilter || hero.name.includes(heroNameFilter)">
            <mat-grid-tile colspan="2">
                {{ hero.name }}
            </mat-grid-tile>
            <mat-grid-tile class="details" routerLink="/hero/{{hero.id}}/details">
                <mat-icon>edit</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile class="removal" (click)="onDelete(hero)">
                <mat-icon>remove</mat-icon>
            </mat-grid-tile>
        </ng-template>
    </ng-container>
</mat-grid-list>
